.image-grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(1, 100%);
}
    
.grid-image-tall, .grid-image-wide {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (orientation:landscape) {
    .image-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 250px);
    }
    
    .grid-image-tall {
        grid-row: 1 / span 2;
    }
    
    .grid-image-tall:nth-child(3) {
        grid-row: 2 / span 2;
    }
}